body {
    background-color:rgb(215, 215, 172);
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header {

}

.hero {

}

.product {

}

.shop {

}

.footer {

}