body {
    background-color:rgb(215, 215, 172);
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header {
    background-color: rgb(146, 40, 40);
    color: rgb(3, 2, 0);

}

.header h2 {
    font-size: 100px;
}
.hero {

}

.product {

}

.shop {

}

.footer {

}